<div class="margin-main pt-1vh">
    <br />
    <span>                
        <hr />
                &copy; Sysnomid 2020-2021
                <br />
                Blog content under <a href="https://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a>
        </div>
    </span>
</div>

