---
layout: layout
---

<!DOCTYPE html>
<html lang="en">
  <body>
    <div class="margin-main pt-1vh">
        <div class="lg underline u-red">{{ title }}</div>
        <p class="center date pb"><strong>{{ date | readableDate }}</strong></p>
      <div class="date content">{{ content | safe }}</div>
      <div id="hyvor-talk-view"></div>
      <script type="text/javascript">
          var HYVOR_TALK_WEBSITE = 534; // DO NOT CHANGE THIS
          var HYVOR_TALK_CONFIG = {
              url: "{{data.url}}",
              id: "{{page.url}}"
          };
      </script>
      <script async type="text/javascript" src="//talk.hyvor.com/web-api/embed"></script>
      <div class="back-link">
        <a href="/">← Back</a>
      </div>
    </div>
  </body>
</html>